:root {
    --buff: #db995aff;
    --liver: #654236ff;
    --vanilla: #d6d4a0ff;
    --cocoa-brown: #da7635ff;
    --flame: #e24e1bff;
  }
  
  .Title-Text {
    display: flex;
    justify-content: center;
    width: 100%;
    
    background-color: var(--liver);
    border-style: solid;
    border-width: 2px;
    
    margin-bottom: 10px;
  }
  
  .result {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    
    background-color: var(--vanilla);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--buff);
    padding: 10px;
  }