:root {
    --buff: #db995aff;
    --liver: #654236ff;
    --vanilla: #d6d4a0ff;
    --cocoa-brown: #da7635ff;
    --flame: #e24e1bff;
  }
  
  .Title-Text {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
    
    background-color: var(--liver);
    border-style: solid;
    border-width: 2px;
    
    margin-bottom: 10px;
  }
  
  .result {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 70%;
    height: 80px;
    
    background-color: var(--vanilla);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    margin: auto;
    width: 69%;
    background-color: var(--buff);
    padding: 10px;  
    
    grid-template-columns: auto auto auto auto;
  }
  
  .buttons > button {
    margin: 2px;
    font-size: 30px;
    border-radius: 80px;
    text-align: center;
    padding: 10px;
    
  }
  
  .operator {
    background-color: var(--cocoa-brown);
  }
  
  .number {
    background-color: var(--vanilla);
  }
  
  .buttons > button:hover {
     transform: translateY(-3px);
  }
  
  