:root {
  --buff: #db995aff;
  --liver: #654236ff;
  --vanilla: #d6d4a0ff;
  --cocoa-brown: #da7635ff;
  --flame: #e24e1bff;
  
  --CALCULATOR_WIDTH: 
}

.Title-Text {
  display: flex;
  justify-content: center;
  margin: auto;
  
  background-color: var(--liver);
  border-style: solid;
  border-width: 10px;
  
  margin-bottom: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.result {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 80px;
  
  background-color: var(--vanilla);
  border-style: solid;
  border-width: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  margin: auto;
  background-color: var(--buff);
  padding: 10px;  
  border-style:solid;
  border-width: 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
  grid-template-columns: auto auto auto auto;
}

.buttons > button {
  margin: 2px;
  font-size: 30px;
  border-radius: 80px;
  text-align: center;
  padding: 10px;
  
}

.operator {
  background-color: var(--cocoa-brown);
}

.number {
  background-color: var(--vanilla);
}

.buttons > button:hover {
   transform: translateY(-3px);
}

.calculator-container {
  background-color: gray;
  width:80%;
  margin:auto;
  padding: 20px;
  
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}